.darckMod {
    background: linear-gradient(180deg, rgb(95, 95, 98), rgb(1, 2, 1)) no-repeat;

    --colorLetra: white;
  
}

.darckLigth{
    background-position: -175px -68px;
    filter: drop-shadow(0 0 5px white) drop-shadow(0 0 10px grey);
    &:hover {
        filter: drop-shadow(0 0 10px grey) drop-shadow(0 0 20px yellow);

    }
}

.fotoPersonalDarck{
    background-position: -150px center !important;
 
}