.agregar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 

    .videos {
        width: min(100%,20em);
        height: 20em;
        border: solid 5px blue;
        border-radius: 5px;
        display: grid;
        place-items: center;
        margin: 1em;

        h2{
            border-bottom: 2px solid black;
            &:first-letter {
                text-transform: uppercase;
              }
        }

        p{
            margin: 0 .5em ;
            &:first-letter {
                text-transform: uppercase;
              }
        }

        iframe {
            width: 95%;
            height: 80%;
            border-radius: 15px;
        }

    }

}

