.agregar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(blue, green, rgb(255, 5, 47));
    min-height: 70vh;

    .videos {
        width: 20em;
        height: 20em;
        border: solid 5px blue;
        display: grid;
        place-items: center;
        margin: 1em;

        iframe {
            width: 95%;
            height: 80%;
        }

    }

}

