:root {
    --prompt_fondo: rgba(0, 255, 255, 90%);
    --prompt_fondo_box-shadow: rgb(0 0 10 /5);
    --prompt_acordion_border-left: violet;
    --hr: red;
    --hr1: blue;
    --hr2: green;

}

.acordion {
    width: 80%;
    max-width: 500px;
    padding: 1em;
    margin: 6em auto;
    background-color: var(--prompt_fondo);
    box-shadow: 0 0 10px 3px var(--prompt_fondo_box-shadow);
    border-radius: 6px;
    border-left: 4px solid var(--prompt_acordion_border-left);



    label {

        text-align: center;
        display: inline-block;
        width: 100%;
        height: 100%;

        &:hover {
            transform: scale(.9);
        }

    }

    hr {
        margin: 1em;
        background: -moz-linear-gradient(right, var(--hr), var(--hr1), var(--hr2));
        height: 5px;
    }

    .acordion_item {
        display: grid;
        grid-template-rows: 0fr;
        transition: 0.3s;

        .p {
            overflow: hidden;
        }

        a {
            text-align: center;
            display: none;

        }

        iframe {
            display: none;
            margin: 1em auto;
            width: 100%;
            opacity: 0%;
            transition: 1s;

        }
    }

}




.agrandar {
    grid-template-rows: 1fr;
    transition: 0.3s;
    text-align: center;

    a {
        color: var(--hr1);
        text-decoration: none;
        margin: .5em 0;
        word-wrap: break-word;
    }

    iframe {
        width: min(100%, 450px);
        aspect-ratio: 16/9;
        align-self: center;
    }

    >* {
        display: block;
        opacity: 100%;
        transition: 1s;
    }
}