@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Press+Start+2P&display=swap');
@import url('clases_videos.css');

:root {
    --colorLetra: white;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lumanosimo, Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(180deg, blue, green) no-repeat;

    header {
        width: 100vw;
        min-height: 15vh;
        display: grid;
        place-items: center;
        grid-template-columns: auto auto;
        color: var(--colorLetra);

        div {
            height: 4em;
            width: 4em;
            background-image: url('../img/icons.png');
            background-repeat: no-repeat;
            background-size: 1100%;
            background-position: -179px 0px;
            transition: transform .5s;
            justify-self: self-end;
            position: relative;
            filter: drop-shadow(0 0 5px yellow) drop-shadow(0 0 10px yellow);




            &:hover {
                transform: scale(.8);
                filter: drop-shadow(0 0 10px yellow) drop-shadow(0 0 20px yellow);

            }
        }

        h1 {
            font-size: min(1.5em, 2em);
            font-weight: bolder;
            justify-self: self-start;
            text-shadow: 3px 3px 3px black;
        }
    }


    main {
        display: grid;
        place-items: center;

        .card {
            width: min(100%, 40em);
            min-height: 75vh;
            margin: 1em 0;
            border: 5px solid rgb(0, 255, 255);
            border-bottom: 5px solid rgb(238, 129, 238);


            display: grid;
            padding: 10px;
            grid-template-areas:
                'foto  texto'
                'foto  texto'
                'foto  texto'
                'iconos iconos';
            color: var(--colorLetra);

            div:first-child {
                width: 8em;
                background-image: url('../img/fotoPersonal.png');
                background-repeat: no-repeat;
                background-size: 215%;
                background-position: -10px center;
                grid-area: foto;
                margin-right: .5em;


            }

            div:nth-child(2) {
                background-color: rgb(254, 239, 239);
                grid-area: texto;
                background-color: inherit;
                display: grid;
                place-items: center;

                p {
                    hyphens: auto;
                }
            }

            div:last-child {
                grid-area: iconos;
                height: 3em;

                ul {
                    display: grid;
                    place-items: center;
                    grid-template-columns: repeat(9, 1fr);
                    text-decoration: none;
                    list-style-type: none;

                    li {
                        height: 2.5em;
                        width: 2.5em;
                        background-repeat: no-repeat;
                        background-size: 1100%;
                        background-image: url('../img/icons.png');
                        margin-top: .5em;
                    }

                    li:first-child {
                        background-position: -235px 1px;
                        content: 'Portfolios Webs';

                        &:hover {
                            background-position: -235px -44px;
                        }
                    }

                    li:nth-child(2) {
                        background-position: -151px 1px;
                        content: 'Linkedin';

                        &:hover {
                            background-position: -151px -44px;

                        }

                    }

                    li:nth-child(3) {
                        background-position: -275px 1px;
                        content: 'Curriculum';

                        &:hover {
                            background-position: -275px -44px;

                        }
                    }

                    li:nth-child(4) {
                        background-position: -75px 1px;
                        content: 'Github';

                        &:hover {
                            background-position: -75px -44px;

                        }
                    }

                    li:nth-child(5) {
                        background-position: -191px 1px;
                        content: 'Clases';

                        &:hover {
                            background-position: -191px -44px;

                        }
                    }

                    li:nth-child(6) {
                        background-position: -320px 1px;
                        content: 'proyectos';

                        &:hover {
                            background-position: -320px -44px;

                        }
                    }

                    li:nth-child(7) {
                        background-position: -399px 1px;
                        content: 'You Tube';

                        &:hover {
                            background-position: -399px -44px;

                        }
                    }

                    li:nth-child(8) {
                        background-position: -358px 1px;

                        content: 'WhatsApp';

                        &:hover {
                            background-position: -358px -44px;

                        }
                    }

                    li:last-child {
                        background-position: -31px 1px;
                        content: 'Correo';

                        &:hover {
                            background-position: -31px -44px;

                        }
                    }
                }
            }
        }


    }

    footer {
        min-height: 5vh;
        display: grid;
        place-items: center;
        color: var(--colorLetra);

    }
}